/* Main Container */

.poster-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  background-color: #eee;
}

/* Poster Wrapper */
.poster-wrapper {
  position: relative;
  width: 768px;
  height: 1194px; /* Match your background image size */
}

/* Background Image */
.poster-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Upload Area */
.upload-area {
  position: absolute;
  bottom: 201px;
  left: 142px;
  width: 192px;
  height: 279px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

/* Uploaded Image Style */
.uploaded-image {
  position: absolute;
  width: 257px;
  height: 330px;
  object-fit: cover; /* Crop and fill */
  object-position: center top; /* Adjust focus point */
  border-radius: 15px;
  z-index: 2;
}
.image-wrapper {
  position: absolute;
  width: 257px;
  height: 330px;
  overflow: hidden;
  border-radius: 15px;
  z-index: 2;
}

.uploaded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  transform-origin: center center;
  transition: transform 0.2s ease;
}

/* Upload Text (Prompt) */
.upload-text {
  color: #333;
  font-size: 16px;
  text-align: center;
}

/* Editable Text Fields */
.text-primary {
  position: absolute;
  bottom: 205px;
  left: 380px;
  width: 370px;
  font-size: 32px;
  font-weight: bold;
  color: green;
  font-family: 'Anek Malayalam', sans-serif;
  z-index: 3;
}

.text-secondary {
  position: absolute;
  bottom: 200px;
  left: 380px;
  width: 370px;
  font-size: 18px;
  color: black;
  font-family: 'Anek Malayalam', sans-serif;
  z-index: 3;
}

/* Download Button */
.download-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2d89ef;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.download-button:hover {
  background-color: #1b5dbf;
}
